.default-button {
  width: 18.75rem;
  height: 3rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.625rem;
  background: var(--colors-text-primary);
  border: none;
}

.default-text-button {
  color: var(--colors-text-secondary);
  text-align: center;
  font-family: 'SF Pro', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 590;
  line-height: 1.375rem;
  letter-spacing: -0.00431rem;
}
