$padding: 1.5rem;

.wrapper {
  width: 22.5rem;
  height: 4rem;
  display: flex;
  padding: 0 $padding;
  align-items: center;
  background: var(--colors-background-light-secondary);
  color: var(--colors-text-primary);
  border: 0;
  position: relative;

  img {
    margin: 0.25rem 1rem 0.25rem 0;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }

  .text-box {
    .name {
      width: 13.875rem;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.375rem;
      text-align: start;
    }

    .last-message {
      height: 1.125rem;
      width: 13.875rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.125rem;
      text-align: start;
    }

    .time {
      position: absolute;
      top: 1rem;
      right: 1.5rem;
    }
  }
}

.selected-chat {
  background: var(--colors-tint-light-primary);
  color: var(--colors-text-secondary);
}
