.title {
  color: var(--colors-text-primary);
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3125rem;
  letter-spacing: 0.086rem;
  margin-bottom: 1.5rem;
}
