.onboarding {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 7.5rem;
}

.sub-title {
  color: var(--colors-text-light-quaternary);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.05rem;
}
