$padding: 1rem;

.wrapper {
  position: absolute;
  bottom: 4.5rem;
  overflow-y: scroll;
  padding: 0 $padding;
  width: calc(100% - $padding * 2);
  max-height: 34rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    display: none;
  }

  .error {
    border: 1px #f00;
    background-color: #fdd;

    &--serious {
      @extend .error;
      border-width: 3px;
    }
  }

  .message-container {
    max-width: calc(33.5rem - $padding * 2);
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.056rem;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    .tail {
      position: absolute;
      bottom: 0;
      height: 1.3125rem;
    }

    .time {
      font-size: 0.625rem;
      line-height: 0.8125rem;
      float: right;
      margin-left: 4px;
      display: inline-flex;
      height: 1rem;
      align-items: end;

      img {
        margin-left: 0.25rem;
        vertical-align: text-bottom;
      }
    }

    &-user {
      @extend .message-container;
      background: var(--colors-tint-light-primary);
      color: var(--colors-text-secondary);
      align-self: flex-end;
      position: relative;

      .tail-right {
        @extend .tail;
        right: -0.31rem;
      }
    }

    &-interlocutor {
      @extend .message-container;
      background: var(--colors-background-light-tertiary);
      color: var(--colors-text-primary);
      align-self: flex-start;
      position: relative;

      .tail-left {
        @extend .tail;
        left: -0.31rem;
      }
    }
  }
}
