:root {
  --colors-text-primary: #1C1C1E;
  --colors-background-light-secondary: #F2F2F7;
  --colors-primary-focus: rgba(0, 113, 238, 0.5);
  --colors-border-light: #E5E5EA;
  --colors-text-light-tertiary: #AEAEB2;
  --colors-text-secondary: #FFF
}

@font-face {
  font-family: 'SF Pro Regular';
  src: url('../../assets/fonts/SF-Pro-Regular.otf') format('opentype');
}

body {
  font-family: 'SF Pro Regular', sans-serif;
}
